In [1]:
import sys
sys.path.append("../")

import pandas as pd
import plotly.graph_objects as go
from dateutil import parser
import datetime as dt

from api.oanda_api import OandaApi
from infrastructure.instrument_collection import instrumentCollection as ic
from db.db import DataDB

pd.set_option('display.max_rows', None)

In [2]:
database = DataDB()

In [3]:
ic.LoadInstrumentsDB()

In [4]:
pairs = []
for pair, val in ic.instruments_dict.items():
    if val.ins_type == "CURRENCY" and "GBP" in pair:
        pairs.append(pair)

In [5]:
pairs

['EUR_GBP',
 'GBP_NZD',
 'GBP_PLN',
 'GBP_CHF',
 'GBP_CAD',
 'GBP_HKD',
 'GBP_ZAR',
 'GBP_JPY',
 'GBP_AUD',
 'GBP_SGD',
 'GBP_USD']

In [6]:
data = []
api = OandaApi()
for p in pairs:
    d_temp = api.get_candles_df(pair_name=p, granularity="D",count=400)
    d_temp['gain'] = ((d_temp.mid_c - d_temp.mid_o) / d_temp.mid_c) * 100
    d_temp['pair'] = p
    #something else was fisrt _
    if '_GBP' in p:
        d_temp['gain'] = d_temp['gain'] * -1
    data.append(d_temp)
candles_df = pd.concat(data)
candles_df.reset_index(drop=True, inplace=True)
candles_df.time = candles_df.time.dt.date

In [7]:
candles_df.tail()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c,gain,pair
4384,2023-12-26,79626,1.27221,1.28026,1.26988,1.27995,1.27169,1.28017,1.26978,1.27986,1.27273,1.28036,1.26996,1.28004,0.604711,GBP_USD
4385,2023-12-27,93413,1.27940,1.28280,1.27126,1.27306,1.27890,1.28272,1.27117,1.27295,1.27990,1.28287,1.27135,1.27317,-0.498013,GBP_USD
4386,2023-12-28,98653,1.27338,1.27728,1.27004,1.27314,1.27264,1.27720,1.26994,1.27303,1.27412,1.27736,1.27014,1.27324,-0.018851,GBP_USD
4387,2024-01-01,124894,1.27264,1.27600,1.26108,1.26188,1.27205,1.27590,1.26101,1.26180,1.27323,1.27611,1.26116,1.26196,-0.852696,GBP_USD
4388,2024-01-02,136089,1.26166,1.26766,1.26157,1.26644,1.26138,1.26757,1.26132,1.26635,1.26194,1.26774,1.26168,1.26654,0.377436,GBP_USD

In [10]:
calendar_data = database.query_all(DataDB.CALENDAR_COLL)

In [11]:
calendar_data_df = pd.DataFrame.from_dict(calendar_data)

In [12]:
calendar_data_df.date = calendar_data_df.date.dt.date

In [13]:
calendar_data_df_uk = calendar_data_df[calendar_data_df.country == "united kingdom"].copy()

In [16]:
calendar_data_df_uk.head(10)

,date,country,category,event,symbol,actual,previous,forecast
11,2022-03-11,united kingdom,monthly gdp mom,gdp mom,GBRMGM,0.8%,-0.2%,0.3%

In [19]:
calendar_data_df_uk.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 11 to 11
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      1 non-null      object
 1   country   1 non-null      object
 2   category  1 non-null      object
 3   event     1 non-null      object
 4   symbol    1 non-null      object
 5   actual    1 non-null      float64
 6   previous  1 non-null      float64
 7   forecast  1 non-null      float64
dtypes: float64(3), object(5)
memory usage: 72.0+ bytes

In [18]:
for col in ['actual', 'previous', 'forecast']:
    for sy in ['Â£', '%', 'B', 'K']:
        calendar_data_df_uk[col] = calendar_data_df_uk[col].str.replace(sy, "")
    calendar_data_df_uk[col].replace('', 0, inplace=True)
    calendar_data_df_uk[col] = calendar_data_df_uk[col].astype(float)

In [ ]:
date_match = {} #loop throguh every row and if it exists in candles df and add 1 date up to 5 
#to see where we have a candles dates 

#very few dates but still happens
for orig in calendar_data_df_uk.date.unique():
    d = orig
    tries = 0
    while d not in candles_df.time.values:
        d = d + dt.timedelta(days=1)
        tries += 1
        if tries > 5:
            #neve found a date that doesnt match
            print("Failed")
            break
        #now new date 
    date_match[orig] = d

In [ ]:
calendar_data_df_uk['orig_date'] = calendar_data_df_uk.date
calendar_data_df_uk.date = [date_match[x] for x in calendar_data_df_uk.date]

In [ ]:
calendar_data_df_uk['delta_prev'] = calendar_data_df_uk.actual - calendar_data_df_uk.previous
calendar_data_df_uk['delta_fc'] = calendar_data_df_uk.actual - calendar_data_df_uk.forecast

In [ ]:
calendar_data_df_uk.head(2)

In [ ]:
candles_an.head(2)

In [ ]:
candles_an = candles_df[['time', 'pair', 'gain']].copy()

In [ ]:
merged = pd.merge(left=candles_an, right=calendar_data_df_uk, left_on='time', right_on='date')

In [ ]:
merged[merged.category=='inflation rate'].head(2)

In [ ]:
merged.category.unique()

In [ ]:
c = 'consumer confidence'
df_an = merged[merged.category==c]
print(df_an[df_an.delta_fc >= 0].gain.sum())
print(df_an[df_an.delta_fc < 0].gain.sum())

In [ ]:
import plotly.express as px

In [ ]:
cat = 'inflation rate'
df_cat = merged[merged.category==cat]
for p in pairs:
    df_plot = df_cat[df_cat.pair == p]
    print(p)
    fig = px.scatter(df_plot, x="gain", y="delta_prev", trendline="ols")
    fig.show()